<div class="container">
  <div class="top-page-left">
    <fa-icon [icon]="faLocation"></fa-icon> Km 9, HaNoi, VietNam
    <fa-icon [icon]="faEnvelop"></fa-icon><span (click)="mailMe()"><a [href]="mailText">Salecarz@ltd.com.vn</a></span>
  </div>

  <div class="top-page-right">
    <div class="FAQ">
      <p>FAQs</p>
      <p>About</p>
    </div>
    <div class="socialmedia">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faInstargram"></fa-icon>
    </div>
   </div>
</div>
