<div class="container">
  <div class="contact">
    <ul>
      <li>Dasmoto's Arts & Crafts</li>
      <li>Số 8 Tôn Thất Thuyết</li>
      <li>Liên hệ:</li>
      <li><a href="#"><i class="fa-solid fa-phone"></i>090.999.9999</a></li>
      <li><a href="#"><i class="fa-solid fa-envelope"></i>DasmotoArtCraft@gmail.com</a></li>
    </ul>
  </div>
  <section class="section map" id="map" style="height: 250px;width:500px;">

  </section>
  <div class="socialmedia">
    <h3>Theo dõi chúng tôi</h3>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
</div>

