<div class="container">
  <div class="navigator">
    <div class="login">
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
        <fa-icon [icon]="faLogin"></fa-icon>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Đăng nhập</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="get" action="#">
                <label><i class="fa-regular fa-user"></i></label>
                <label><input type="text" name="username" placeholder="Tên đăng nhập/Số điện thoại" required/></label>
                <br/>
                <br/>
                <label><i class="fa-sharp fa-solid fa-unlock-keyhole"></i></label>
                <label><input type="password" name="your_pwd2" placeholder="Mật khẩu" required/></label>
                <br/>
                <br/>
                <button type="submit">Đăng nhập</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <a href="https://dasmotoartandcraft-4.herokuapp.com/dangky.html#"><button type="button" class="btn btn-primary">Đăng ký</button> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
