.container{
  height:150px;

}
img{
  width:150px;
  padding:10px;
}
.logo{
  width:15%;
  box-sizing: border-box;
  float:left;
}
.menu{
  width: 60%;
  box-sizing: border-box;
  float:left;
  margin-top:40px;

}
.menu .navbar{
  border-radius: 10px;
  background-color: rgba(0, 17, 61, 0.96);
}
.contact{
  width:calc(25% - 30px);
  margin:40px 15px;
  float:left;
}
.contact a{
  font-size: 20px;
}
.contact p{
  font-size: 15px;
}
.contact fa-icon{
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: deepskyblue;
  font-size: 20px;
  float:left;
}
.btn-primary{
  background-color: rgba(0, 17, 61, 0.96);
}
